<div class="tpv-outer" [ngStyle]="outerStyle">
  <div class="tpv-scale-wrapper" [ngStyle]="wrapperStyle">
    <ng-container [ngSwitch]="type">
      <app-classic-template
        *ngSwitchCase="'Classic'"
        [config]="config"
        [hospitalSettings]="hospitalSettings"
        [language]="language"
        [editable]="editable"
        [document]="document"
        [hideSignature]="hideSignature"
        (contentChange)="contentChange.emit($event)"
      ></app-classic-template>
      <app-corporate-template
        *ngSwitchCase="'Corporate'"
        [config]="config"
        [hospitalSettings]="hospitalSettings"
        [language]="language"
        [editable]="editable"
        [document]="document"
        [hideSignature]="hideSignature"
        (contentChange)="contentChange.emit($event)"
      ></app-corporate-template>
      <app-government-template
        *ngSwitchCase="'Government'"
        [config]="config"
        [hospitalSettings]="hospitalSettings"
        [language]="language"
        [editable]="editable"
        [document]="document"
        [hideSignature]="hideSignature"
        (contentChange)="contentChange.emit($event)"
      ></app-government-template>
      <app-classic-template
        *ngSwitchDefault
        [config]="config"
        [hospitalSettings]="hospitalSettings"
        [language]="language"
        [editable]="editable"
        [document]="document"
        [hideSignature]="hideSignature"
        (contentChange)="contentChange.emit($event)"
      ></app-classic-template>
    </ng-container>
  </div>
</div>
