<div class="flex flex-wrap items-center gap-2">
  <p-select
    [options]="presetOptions"
    [ngModel]="preset"
    optionLabel="label"
    optionValue="value"
    (ngModelChange)="selectPreset($event)"
    styleClass="text-xs"
    [dt]="mono ? selectDt : undefined"
  ></p-select>
  <ng-container *ngIf="isCustom">
    <p-datepicker [(ngModel)]="customFrom" dateFormat="yy-mm-dd" placeholder="From" (onSelect)="onCustomRangeSelected()" [dt]="mono ? datepickerDt : undefined"></p-datepicker>
    <p-datepicker [(ngModel)]="customTo" dateFormat="yy-mm-dd" placeholder="To" (onSelect)="onCustomRangeSelected()" [dt]="mono ? datepickerDt : undefined"></p-datepicker>
  </ng-container>
</div>
