<ng-container *ngIf="editable; else readonlyView">
  <textarea
    class="rx-freetext dx-textarea"
    [rows]="rows"
    [value]="textValue"
    placeholder="- Viral Fever (Suspected)&#10;- Flu (J11)"
    (focus)="onFocus()"
    (blur)="onBlur($any($event.target).value)"
  ></textarea>
</ng-container>
<ng-template #readonlyView>
  <ng-container *ngIf="items.length; else emptyReadonly">
    <span class="dx-items">
      <span class="dx-item" *ngFor="let d of items">- {{ d.text }}<ng-container *ngIf="d.icd10"> ({{ d.icd10 }})</ng-container></span>
    </span>
  </ng-container>
  <ng-template #emptyReadonly>
    <span class="placeholder-text placeholder-empty">{{ emptyReadonlyText }}</span>
  </ng-template>
</ng-template>
