<section class="page-container">
  <div class="page-header">
    <div class="page-header-icon"><i [class]="section.icon"></i></div>
    <div>
      <h2 class="page-header-title">{{ section.label }}</h2>
      <p class="page-header-subtitle">Manage your saved shortcuts for one-click insert while authoring a prescription.</p>
    </div>
  </div>

  <div class="section-tabs">
    <a *ngFor="let s of sections" [routerLink]="['/quick-add', s.routeSegment]" [class.active]="s.routeSegment === section.routeSegment">
      <i [class]="s.icon"></i>
      <span>{{ s.label.replace('Quick Add ', '') }}</span>
    </a>
  </div>

  <div class="flex justify-end mb-3">
    <button pButton [routerLink]="['/quick-add', section.routeSegment, 'manage']">
      <i class="fa fa-plus"></i>
      <span>Add Preset</span>
    </button>
  </div>

  <div class="table-container">
    <div class="transition-all duration-500 ease-in-out">
      <p-table [value]="loading ? skeletonItems : presets" dataKey="quickAddPresetId" [responsiveLayout]="'scroll'">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 14rem">Label</th>
            <th>Preview</th>
            <th style="width: 8rem">Actions</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-preset>
          @if (loading) {
            <tr>
              <td><p-skeleton width="100%" height="1rem"></p-skeleton></td>
              <td><p-skeleton width="100%" height="1rem"></p-skeleton></td>
              <td><p-skeleton width="3rem" height="1rem"></p-skeleton></td>
            </tr>
          } @else {
            <tr>
              <td>{{ preset.label }}</td>
              <td>{{ previewPayload(preset) }}</td>
              <td>
                <button [routerLink]="['/quick-add', section.routeSegment, 'manage', preset.quickAddPresetId]" class="text-primary mr-2" title="Edit">
                  <i class="fa fa-edit"></i>
                </button>
                <button class="text-danger" title="Delete" (click)="deletePreset(preset, $event)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          }
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="3" class="not-found">
              <div>
                <i class="fa fa-magnifying-glass-minus"></i>
                <p>No presets saved yet.</p>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</section>
